@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using MudBlazor.Components
@page "/passwordreset/{email}"
<MudGrid>
    <MudItem xs="12" sm="12">

        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField @bind-Value="resetPasswordDto.Email" T="string" Label="Email" Disabled Required="true" RequiredError="Email is required!"
                              Variant="Variant.Outlined"
                              Validation="@(new EmailAddressAttribute() {ErrorMessage = "L'adresse email est invalide"})" />
                <MudTextField @bind-Value="resetPasswordDto.Password" Label="Mot de passe"
                              
                              Variant="Variant.Outlined"                            
                              InputType="@PasswordInput"
                              Adornment="Adornment.End"
                              AdornmentIcon="@PasswordInputIcon"
                              OnAdornmentClick="ChangePwdVisibility"
                              AdornmentAriaLabel="Afficher Password" />
                <MudTextField T="string" @bind-Value="resetPasswordDto.NewPassword"
                              Variant="Variant.Outlined"
                              Label="Nouveau mot de passe" HelperText=@PasswordSample
                              InputType="@NewPasswordInput"
                              Adornment="Adornment.End"
                              AdornmentIcon="@NewPasswordInputIcon"
                              OnAdornmentClick="ChangeNewPwdVisibility"
                               Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" />
                <MudTextField T="string" @bind-Value="resetPasswordDto.NewPasswordConfirm"
                              Variant="Variant.Outlined"
                              Label="Confirmation nouveau mot de passe" HelperText="répéter le nouveau mdp"
                              InputType="@ConfirmInput"
                              Adornment="Adornment.End"
                              AdornmentIcon="@ConfirmInputIcon"
                              OnAdornmentClick="ChangeConfirmVisibility"
                              Validation="@(new Func<string, string>(PasswordMatch))"
                               Required="true"/>
                <div class="d-flex align-center justify-space-between">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" OnClick="()=>HandleResetPwd()">Valider nouveau mdp</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>