@page "/chatpage"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Real-time chat</PageTitle>


<MudGrid Style="height: 90%;">

    <MudItem xs="12" lg="12">


        <div id="Realtime_Chat" class="ma-0" style="height:45vh;overflow: auto;">
            <MudPaper Elevation="2" Height="3500px" Class="d-flex flex-column justify-start py-6">

                @foreach (var message in messages)
                    {
                        if (message.SenderName==userInput)
                        {
                            <MudPaper Elevation="1" Class="d-flex flex-column justify-start">
                                <MudPaper>
                                    <MudText Typo="Typo.h6">
                                        @message.SenderName
                                    </MudText>
                                    <MudText Typo="Typo.body1">
                                        @message.Text
                                    </MudText>
                                    <MudText Typo="Typo.caption">
                                        @message.SentAt.ToLocalTime()
                                    </MudText>
                                </MudPaper>
                            </MudPaper>
                        }
                        else {
            <MudPaper Elevation="1" Class="d-flex flex-column justify-end">
                <MudPaper>
                    <MudText Typo="Typo.h6">
                        @message.SenderName
                    </MudText>
                    <MudText Typo="Typo.body1">
                        @message.Text
                    </MudText>
                    <MudText Typo="Typo.caption">
                        @message.SentAt.ToLocalTime()
                    </MudText>
                </MudPaper>
            </MudPaper>
                        }
                }

                <MudScrollToTop TopOffset="100" Selector="#Realtime_Chat"  Style="z-index:2001;">
                    <div class="mud-theme-secondary px-3 py-6 mud-elevation-16 rounded-xl fixed" style="bottom:20px;right:20px;">Top</div>
                </MudScrollToTop>
            </MudPaper>
        </div>
    </MudItem>
    <MudItem xs="12" lg="12">
        <MudPaper Elevation="0" Class="d-flex flex-column justify-center py-6" style="height:35vh;overflow: auto;">


                <label>
                    User:
                    <MudTextField ReadOnly="true" FullWidth="true" @bind-Value="@userInput" Variant="Variant.Outlined" Margin="Margin.Dense" />
                </label>
    
      
                <label>
                    Message:
                    <MudTextField FullWidth="true" Lines="3" @bind-Value="@messageInput" Variant="Variant.Outlined" Margin="Margin.Dense" />
                </label>
       

            <MudButton ButtonType="ButtonType.Button" Disabled="@(!IsConnected||String.IsNullOrWhiteSpace(messageInput))" @onclick=Send Variant="Variant.Filled" Color="Color.Info">Send</MudButton>
        </MudPaper>
    </MudItem>



</MudGrid>





